body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #main {
    margin-left: 200px; /* Adjust the margin based on the sidebar width */
  }
  
  .w3-sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .w3-sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .w3-sidebar a:hover {
    color: #000;
  }
  
  .w3-bar-item {
    padding: 16px;
    color: #fff;
  }
  
  .w3-teal {
    background-color: teal;
    color: #fff;
  }
  
  .w3-button {
    padding: 8px 16px;
    font-size: 20px;
  }
  
  .w3-row-padding {
    margin: 0 -16px;
  }
  
  .w3-quarter {
    padding: 0 16px;
    float: left;
    width: 25%;
  }
  
  .w3-teal h1 {
    padding: 16px;
    margin: 0;
  }
  
  .w3-teal h1,
  .w3-teal a {
    color: #fff;
  }
  
  .w3-teal a {
    text-decoration: none;
  }
  
  .w3-teal a:hover {
    text-decoration: underline;
}


.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
